.guess-letter {
	width: 1.2em;
}

.flagboard {
	overflow-x: auto;
	overflow-y: hidden;
}

.flagboard th {
	line-height: .8em;
}

.flagboard td {
	line-height: 0;
	padding: 1px;
}

.flagboard-cell img {
	width: clamp(28px, 3.7vw, 40px);
}